@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500&family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
   --black-color:#222;
   --light-puple: #e3e6f3;
   --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
   --white-color: #fff;
   --light-green:#088178;
   --border-box: #cce7d0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'League Spartan' sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color:var(--black-color);
}

h2{
    font-size:46px;
    line-height: 54px;
    color: var(--black-color);
}

h4{
    font-size: 20px;
    color: var(--black-color);
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

input{
    border: 1px solid var(--black-color);
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: var(--black-color);
    background-color: var(--white-color);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: var(--white-color);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--white-color);
    outline: none;
    transition: 0.2s ease;
}

#header{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--light-puple);
    box-shadow: var(--box-shadow);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}



#header #navbar li {
    list-style-type: none;
    padding: 10px 15px;
    position: relative;
}

#header #navbar li a{
    color: var(--black-color);
    font-size: 16px;
    font-weight: 600;
}

#header #navbar li a:hover,
#header #navbar li a.active{
    color:var(--light-green);
}

#header #navbar li a.active::after,
#header #navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background: var(--light-green);
    position: absolute;
    bottom: 3px;
    left: 9px;
}

#header #mobile{
    display: none;
}

#header #navbar #close{
    display: none;
}

/* home page starts */
#hero{
    background: url(/img/hero4.png);
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: var(--light-green);
}

#hero button{
  background-image: url("../img/button.png");
  background-color: transparent;
  color: var(--light-green);
  width: 20%;
  height: 50px;
  cursor: pointer;
  font-family: cursive;
  font-size: 15px;
  font-weight: 600;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 10px 0px 10px;
}

#feature .feature-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.08);
    border: 1px solid var(--border-box);
    border-radius: 4px;
    margin:15px 0;
}

#feature .feature-box:hover{
    box-shadow: 20px 20px 34px rgba(70, 62, 221, 0.1);
}

#feature .feature-box img{
    margin-bottom: 8px;
}

#feature .feature-box h6{
    color: var(--light-green);
    background-color: #fddde4;
    padding: 9px 8px 9px 8px;
    border-radius: 8px;
    line-height: 1;
    font-family: cursive;
    display: inline-block;
    
}

#feature .feature-box:nth-child(2) h6{
    background-color: #cdebbc;

}

#feature .feature-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .feature-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .feature-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .feature-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    text-align: center;
}

#product1 .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#product1 .box{
    width: 23%;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid var(--border-box);
    border-radius: 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
    position: relative;
}

#product1 .box:hover{
    box-shadow:20px 20px 30px rgba(0, 0, 0, 0.2) ;
    
}

#product1 .box img{
    width: 100%;
    border-radius: 10px;
}

#product1 .box .description{
    text-align: start;
    padding: 10px 0;
}

#product1 .box .description span{
    color: #606063;
    font-size: 12px;
}

#product1 .box .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .box .description i{
    font-size: 12px;
    color: gold;
    
}

#product1 .box .description h4{
    padding-top: 9px ;
    font-size: 20px ;
    font-weight: 700;
    color: var(--light-green);
}

#product1 .box .cart{
    width: 40px;
    height: auto;
    line-height: 40px;
    border-radius: 50%;
    font-weight: 500;
    background: #e8f6ea;
    color: var(--light-green);
    border: 1px solid var(--border-box);
    position: absolute;
    bottom: 10px;
    right: 10px;
    

}

#banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: url(../img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    font-size: 16px;
    color: var(--white-color);
}

#banner h2{
    color: var(--white-color);
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color:#ef3636;
    
}

#banner button:hover{
    color: var(--white-color);
    background: var(--light-green);
}

#sm-banner .box-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .box1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: url("../img/banner/b17.jpg");
    min-width: 530px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h4{
    color: var(--white-color);
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: var(--white-color);
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .box1:hover button{
    background: var(--light-green);
    border: 1px solid var(--light-green);
}

#sm-banner .box2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: url("../img/banner/b10.jpg");
    min-width: 530px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .box2:hover button{
    background: goldenrod;
    border: 1px solid var(--light-green);
}



#sm-banner2 .box-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 80px;
}


#sm-banner2 .box-container .box1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    background: url("../img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#sm-banner2 .box-container .box2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    background: url("../img/banner/b4.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#sm-banner2 .box-container .box3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    background: url("../img/banner/b18.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#sm-banner .box-container .box2{
    display: flex;
    flex-direction: column;

}

#sm-banner2 .box-container h2{
    color: var(--white-color);
    font-weight: 900;
    font-size: 22px;
    margin-top: 40px;
}

#sm-banner2 .box-container h3{
    font-size: 15px;
    font-weight: 800;
    color: #ec544e;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    background-image: url("../img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20px 30px;
    background-color: #041e42;
    padding: 30px 20px;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter input{
    width: 100%;
    height: 3.125rem;
    padding: 0 2rem;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius:4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter button{
    height: 3.125rem;
    background-color: var(--light-green);
    color: var(--white-color);
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#footer .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer .box-container .box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

#footer .box-container .logo{
    margin-bottom: 30px;
}

#footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

#footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

#footer a{
    font-size: 13px;
    color: var(--black-color);
    margin-bottom: 10px;
}

#footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

#footer .install .row img{
 border: 1px solid var(--light-green);
 border-radius: 6px;

}

#footer .install img{
    margin: 10px 0 15px 0;
}

#footer .follow i:hover,
#footer a:hover{
    color: var(--light-green);
}

#footer .copyright{
    text-align: center;
    width: 100%;
}

/* home page ends */  

/* about page starts */

#shop-page-header{
    background: url(../img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

#shop-page-header h2,
#shop-page-header p{
    color: var(--white-color);
}

#pagination{
    text-align: center;
}

#pagination a{
    color: var(--white-color);
    background: var(--light-green);
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}



/* about page ends */


/* single products page starts */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;

}

#prodetails .small-img-container{
    display: flex;
    justify-content: space-between;
}

#prodetails .small-img-container .small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    margin-top: 50px;
}


#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h6{
    font-size: 26px;
}



#prodetails .single-pro-details input,
#prodetails .single-pro-details select{
    border: 1px solid var(--black-color);
    border-radius: 4px;
    padding: 5px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    margin-right: 20px;
    font-size: 16px;
}

#prodetails .single-pro-details button{
    background: var(--light-green);
    color: var(--white-color);
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

/* blog page starts */
#shop-page-header.blog-header{
    background: url(../img/banner/b19.jpg);
    background-position: top 25% right 25%;
    background-size: cover;
    width: 100%;

}

#blog{
    padding: 150px 150px 0px 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
}

#blog .blog-img{
    width:50%;
    margin-right: 40px;

}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details h4{
    font-size: 24px;
    font-weight: 600;
}

#blog .blog-details p{
    line-height: 1.5;
}

#blog .blog-details a{
    color: var(--black-color);
    font-size: 14px;
    font-weight: 700;
    position: relative;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--black-color);
    position: absolute;
    top: 6px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: var(--light-green);
}

#blog .blog-details a:hover::after{
    background-color: var(--light-green);
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    color: #c9cbce;
    font-size: 70px;
    font-weight: 700;
    z-index: -1;
}
/* blog page ends */

/* about page starts */
#shop-page-header.about-header{
    background: url(../img/about/banner.png);
    background-size: cover;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head .about-text{
    width: 50%;
    margin-left: 40px;
}

#about-app{
    text-align: center;
    justify-content: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
/* about page ends */

/* contact page starts */

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 35px;
    line-height: 35px;
    padding: 15px 0px;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style-type: none;
    display: flex;
    padding: 9px 0px;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
    /* padding-top: 18px */
}


#contact-details .details li p{
    margin: 0;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 10px 10px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;

}

#form-details form button{
    color: var(--white-color);
    background: var(--light-green);
}

#form-details .people div{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    
}

#form-details .people img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people p{
    line-height: 25px;
    margin: 0;
    font-size: 13px;
}

#form-details .people p span{
    font-size: 16px;
    font-weight: 600;
    color: var(--black-color);
}

/* contact page ends */


/* cart page starts  */
#cart{
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* white-space: nowrap; */
}

#cart table img{
    width: 72px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(5){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(6){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    text-align: center;
    padding: 10px 10px ;
}

#cart thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart thead tr td{
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 0;
}

#cart tbody tr td{
    padding-top: 15px;
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px
}

#coupon h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 15px;
    width: 60%;
    outline: none;
    border: 1px solid #e2e9e1;
    margin-right: 10px;
}

#coupon button{
    color: var(--white-color);
    background-color: #088178;
    padding: 12px 20px;
    
}

#subtotal{
    border: 1px solid #e2e9e1;
    width: 50%;
    padding: 20px;
    margin-bottom:30px ;
}

#subtotal h3{
    padding-bottom: 15px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    padding: 10px;
    border: 1px solid #e2e9e1;
    font-size: 13px;
}

#subtotal button{
    color: #fff;
    background-color: #088178;
}
/* cart page ends  */








/* single products page ends */

@media (max-width:1059px) {

    #hero {
        height: 60vh;
        background-position: top 50% right 50%;
    }

    #feature {
        align-items: center;
        margin: 30px 80px 10px 80px;
        align-items: center;
        justify-content: space-between;
    }

    #feature .feature-box {
        width: 250px;
        text-align: center;
        padding: 40px 15px;
        margin: 15px  0;
    }

    #product1 .box-container {
        padding: 30px;
    }

    #product1 .box {
        width: 32%; 
        min-width: 350px;
        padding: 10px 12px;
        margin: 30px 20px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .box1 {
        min-width: 100%;
        height: 40vh;
    }

    #sm-banner .box2 {
        min-width: 100%;
        height: 40vh;
        margin-top: 30px;
    }

    #sm-banner2 .box-container {
        padding: 0px  80px;
        display: flex;
        flex-direction: column;
    }

    #sm-banner2 .box-container .box1 {
        min-width: 100%;
        height: 30vh;
        padding: 20px;
        margin-top: 5px;
    }

    #sm-banner2 .box-container .box2 {
        min-width: 100%;
        height: 30vh;
    }

    #sm-banner2 .box-container .box3 {
        min-width: 100%;
        height: 30vh;
    }

    #newsletter p {
        font-size: 16px;
    }

}

@media (max-width: 991px) {

    #header {
        height: 9vh;
        padding: 10px 50px;
    }

    a:-webkit-any-link {
        padding-top: 20px;
    }

    #header #navbar {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        position: fixed;
        top: 0px;
        right: -400px;
        height: 100vh;
        width: 400px;
        background-color: var(--light-puple);
        padding-top: 130px;
    }

    #header #navbar li a {
        font-size: 30px;
        font-weight: 700;
    }

    #header #navbar li a.active,
#header #navbar li a:hover{
    display: none;
}

    #header #mobile{
        display: block;
        align-items: center;
    }

    #mobile i{
        padding-top: 30px;
        font-size: 30px;
        padding-right: 20px;
        color: #1a1a1a;
    }

    #header #navbar.active{
        right: 0px;
    }

    #header #navbar #close{
        display: flex;
        position: absolute;
        top: 50px;
        font-size: 35px;
        color: #222;
    }

    #hero {
        height: 70vh;
    }

    #feature {
        align-items: center;
        margin: 30px 55px 10px 55px;
         align-items: center;
        justify-content: space-between;
    }

    #product1 .box-container {
        padding: 0px;
        justify-content: center;
    }

    #product1 .box {
        width: 70%;
    }

    /* blog page starts here */

    #blog .blog-details a::after {
        top: 28px;
    }

    /* blog page ends here */

}



@media (max-width:768px) {

    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 50px;
    }

    #header #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height:100vh;
        background-color: var(--light-puple);
        padding: 100px 0px 0px 60px;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
        transition: 0.2s ease;
        
    }

    #header #navbar.active{
        right: 0px;
    }

    #header #navbar #close{
        position: absolute;
        top: 50px;
        left: 80px;
        font-size: 24px;
        color: #222;
        display: flex;
    }
    
    #header #navbar li{
        margin-bottom: 20px;
    }

    #header #navbar #lg-bag{
        display: none;
    }

    #header #mobile{
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 24px;
    }

    #hero {
        height: 70vh;
        background-position: top 35% right 35%;
    }

    #feature {
        justify-content: center;
        margin-right: 40px;
        
    }

    #feature .feature-box {
        margin: 20px 20px;
    }

    #product1 .box-container {
        justify-content: center;
    }

    #product1 .box {
        margin: 20px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .box1 {
        min-width: 100%;
        height: 40vh;
        margin-bottom: 20px;
    }

    #sm-banner .box2 {
        min-width: 100%;
        height: 40vh;
    }

    #sm-banner2 .box-container .box1 {
        min-width: 100%;
        height: 30vh;
    }

    #sm-banner2 .box-container .box2 {
        min-width: 100%;
        height: 30vh; 
    }

    #sm-banner2 .box-container .box3 {
        min-width: 100%;
        height: 30vh;
    }

    #newsletter .form {
        width: 100%;
    }

    /* blog page starts */
    #blog .blog-box {
        display: flex;
        flex-direction: column;
    }

    #blog {
        padding: 150px 20px 0px 20px;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        padding: 10px 30px;
    }

    #blog .blog-details {
        width: 100%;
        padding: 0 30px;
    }

    #blog .blog-details a::after {
        top: 28px;
    }
    /* blog page ends */

    /* contact page starts */
    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }
    /* contact page ends */
}

@media (max-width: 540px) {
    #header{
        padding: 0px 40px;
    }
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 20px 40px;
    }

    #hero {
        padding: 0 20px;
    background-position: 55%;
}
   
    h2 {
    font-size: 32px;
}

h1 {
    font-size: 25px;
    
}

#feature {
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    margin: 20px;
}

#feature .feature-box {
    width: 160px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.08);
    border: 1px solid var(--border-box);
    margin: 10px 0;
}

#banner {
    height: 30vh;
}

/* single product */

#prodetails {
    display: flex;
    flex-direction: column;
}

#prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
}

#prodetails .single-pro-details {
    width: 100%;
   
}

/* blog page starts */

#blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#blog {
    padding: 100px 20px 0 20px;
}

#blog .blog-img {
    width: 100%;
    margin-bottom: 30px;
}

#blog .blog-details {
    width: 100%;
}

/* about page starts */
#shop-page-header.about-header {
    height: 20vh;
}

#about-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#about-head img {
    width: 100%;
    margin-bottom: 20px;
}

#about-head .about-text {
    margin-left: 0px;
}

#about-app .video {
    width: 100%;
}
/* about page ends */

/* contact page starts */

#header {
    padding: 0px 40px;
}

#contact-details {
    display: flex;
    flex-direction: column;
}

#contact-details .details {
    width: 100%;
    margin-bottom: 30px;
}

#contact-details .map {
    width: 100%;
}

#form-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#form-details form {
    width: 100%;
}
/* contact page ends */



/* cart page starts */
#cart-add {
    display: flex;
    flex-direction: column;
}

#coupon {
    width: 100%;
    margin-bottom: 30px;
}

#subtotal {
    width: 100%;
}
/* cart page ends  */
}